.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000; 
}

.modal {
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  text-align: center;
  width: 500px; 
  height: 460px; 
  z-index: 1100; 
}

.modalButtons {
  margin-top: 40px;
}

.modalButtons button {
  font-size: 14px;
  margin-right: 10px;
}

.closeBtn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 6px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 90%;
  }
}
  
.imgDocument {
  max-width: 80%;
  max-height: 80vh;
  margin: auto;
  display: block;
}
  